* {
    
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "PTSans", sans-serif;
    
}

.content-wrapper{
    width: 100%;
 max-width: clamp(960px, 80%, 1440px); 
  margin: 0 auto;
  padding: 16px;
  height: 100vh;
}
