.pokemon_dialog {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  z-index: 10;
  padding: 20px;
  overflow-y: auto;
}

.pokemon_dialog.show {
  display: block;
  align-content: space-around;

}

#dialog_header {
  padding: 20px;
  border-radius: 25px 25px 0 0 !important;
  background-image: url(/assets/bilder/picmix.png) !important;
  background-repeat: no-repeat !important;
  background-position: right 20px bottom 20px !important;
  background-size: 210px !important;
  background-position: center !important;
  background-position-y: top !important;
}

.pokemon_dialog .content {
  background: #fff;
  border-radius: 26px;
  max-width: 350px;
  margin: 40px auto;
  border: 2px solid grey;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

}

.main_content {
  margin-top: -50px;
  border-radius: 60px;
  background: white;
  padding-left: 25px;
  padding-top: 20px;
  border-top: 3px solid #525252b3;
}

.main_content ul {
  margin: 10px 0;
}

.main_content li {
  display: flex;
  width: 100%;
  padding: 4px 0;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 50%;
}

.basic_stats {
  display: none;
}

.stats_tamplete {
  display: none;
}

.evo_box {
  display: none;
}

.dialog_img_box {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.basic_stats.active {
  display: block;
}

.stats_tamplete.active {
  display: block;
}

.evo_box.active {
  display: block;
  padding: 16px 0 10px 0;
}

.evo_img {
  width: 40px !important;
}

.evo_name {
  font-size: 18px;
}

.evo_chain {
  display: flex;
  flex-direction: row;
}

.tabs {
  display: flex;
  justify-content: space-evenly;
}

.tabs .btn_active {
  background: #504c4c24;
  border-radius: 10px;
}

.tab_btn {
  background-color: white;
  border: 0;
  font-size: 18px;
}

.dialog_footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.next_container,
.back_container {
  margin: 20px;
}

.next_btn,
.back_btn {
  font-size: 32px;
  width: 50px;
  height: 50px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.08);
  border: none;
  cursor: pointer;
  user-select: none;
  border: 1px solid black;
}

.moves_container {
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.pokemon_move {
  color: black;
  background: rgb(168, 168, 120);
  border-radius: 18px;
  padding: 3px;
  padding-left: 16px;
  width: 90%;
  border: 3px solid rgb(121 121 121 / 47%);
}

.dialog_btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.dialog_btn span {
  color: white;
  font-size: 24px;
  text-shadow: 2px 1px 6px black;
}

.pokemon_info h2,
p {
  color: white;
}

.pokemon_info h2 {
  text-shadow: 2px 1px 6px black;
}

.basic_stats:not(.active)~.moves_container {
  display: none;
}

.pokemon_typ {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
  text-shadow: 2px 1px 6px black;
  user-select: none;
  pointer-events: none;

}

.pokemon_typ p {
  background: rgb(255 255 255 / 16%);
  border: 1px solid #948d8db3;
  width: fit-content;
  padding: 4px;
  border-radius: 10px;
}

.evo_name {
  color: black;
  padding: 10px 0 10px 0;
  font-size: clamp(10px, 2vw, 14px);

}

.evo_stage {
  color: black;
  padding: 10px 0 10px 0;
}

.evo_arrow {
  display: flex;
  align-items: center;
  margin-right: 16px;
  font-size: 24px;
}

.evo_img3 {
  user-select: none;
  pointer-events: none;

}