
header{
    height: 80px;
    padding: 30px;
    margin-bottom: 30px;
}
.header_inner{
    display: flex;
    justify-content: space-between;
    
}
.header_left{
      display: flex;
    align-items: center; 
}
.header_right{
    display: flex;
}
.pokemon_container{
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
        gap: 1rem;
}
.pokemon_card{
    width: 200px !important;
    border-radius: 18px;
    padding: 10px 10px 12px;
    width: 150px;
    cursor: pointer;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.35);
    color: #0b1020;
    text-align: left;
    position: relative;
    transition: transform 0.2s, box-shadow 0.2s;
    background: linear-gradient(135deg, #ffffff, #eef2ff);
    overflow: hidden;
}
.card_body{
  display: flex;
  width: 100%;
}
.card_left{
flex: 0 0 auto;         
  display: flex;
  justify-content: flex-start;
}
.card_right {
  flex: 1;                 
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_types{
    border: 1px solid grey;
}
.type_badges{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.pokemon_img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  user-select: none;
    pointer-events: none;
}
.dialog_pokemon_img{
    width: 120px;
    user-select: none;
    pointer-events: none;
}
.evo_img{
    width: 120px;
    user-select: none;
    pointer-events: none;
}
.type_box{
    background-color: rgb(255 255 255 / 33%);
    padding: 3px;
    border-radius: 10px;
}
.hidden {
     display: none; 
    }
    .logo{
        height: 34px;
        user-select: none;
    pointer-events: none;
    }
.spin_ball{
    height: 120px;
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}
body{
    height: 100vh;
    background: linear-gradient(270deg, rgb(255 255 255 / 61%), rgb(0 0 0 / 57%));
}
.body_lock {
    overflow: hidden;
    height: 100vh;
}

.Copyright{
    display: flex;
    justify-content: space-around;
}
.footer_right{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}
.basic_stats:not(.active) ~ .moves_container {
    display: none;
}